# Environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.lock

# Compiled extensions
*.so

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store

results/
data/
